{{ define "main"}}
{{ .Scratch.Set "debugdrawerlayout" "layouts/index.html" }}

<div class="card">
    <div class="card-content">
      <div class="content">
        {{.Content}}

        <hr>
        <ol>
            {{ range site.RegularPages }}
            <li>
                <a href="{{.Permalink}}">{{.Title}}</a> <span class="has-text-grey"> {{ with .Section }} &middot; {{.}} {{ end }} &middot; {{.Date | dateFormat "02 Jan 2006"}} </span>
            </li>
            {{ end }}
        </ol>

      </div>
    </div>
    
  </div>

<hr>

{{ end }}